# Visual Studio / .NET
.vs/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# User / Local
*.user
*.rsuser
*.suo
*.csproj.user

# Config locales
appsettings.json

# Publis/artefacts
*.pubxml
*.Publish.xml
.publish/
out/
